<link rel='stylesheet' href='/css/status.css' />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>

<div class="row">
  <div class="col-12">
    <h1>Worker {{port}} Stats</h1>
  </div>

  <!-- CPU Usage -->
  <div class="col-12">
    <div class="row">
      <div class="col-xl-1 col-lg-1 d-none d-lg-block"></div>

      <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
        <div class="row">
          <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12">
            <div class="stats-column">
              <h5>CPU Usage</h5>
              <h1 id="cpuStat">- %</h1>
            </div>
          </div>
          <div class="col-xl-10 col-lg-10 col-md-9 col-sm-12">
            <div class="chart-container">
              <canvas id="cpuChart" width="100%" height="100"></canvas>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-1 col-lg-1 d-none d-lg-block"></div>
    </div>
  </div>
  <div class="col-12"><br><br></div>

  <!-- Memory Usage -->
  <div class="col-12">
    <div class="row">
      <div class="col-xl-1 col-lg-1 d-none d-lg-block"></div>

      <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
        <div class="row">
          <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12">
            <div class="stats-column">
              <h5>Memory Usage</h5>
              <h1 id="memStat">- %</h1>
            </div>
          </div>
          <div class="col-xl-10 col-lg-10 col-md-9 col-sm-12">
            <div class="chart-container">
              <canvas id="memChart" width="100%" height="100"></canvas>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-1 col-lg-1 d-none d-lg-block"></div>
    </div>
  </div>
  <div class="col-12"><br><br></div>

  <!-- Response Time -->
  <div class="col-12">
    <div class="row">
      <div class="col-xl-1 col-lg-1 d-none d-lg-block"></div>

      <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
        <div class="row">
          <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12">
            <div class="stats-column">
              <h5>Response Time</h5>
              <h1 id="responseTimeStat">-</h1>
            </div>
          </div>
          <div class="col-xl-10 col-lg-10 col-md-9 col-sm-12">
            <div class="chart-container">
              <canvas id="responseTimeChart" width="100%" height="100"></canvas>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-1 col-lg-1 d-none d-lg-block"></div>
    </div>
  </div>
  <div class="col-12"><br><br></div>


  <!-- Requests per Second -->
  <div class="col-12">
    <div class="row">
      <div class="col-xl-1 col-lg-1 d-none d-lg-block"></div>

      <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
        <div class="row">
          <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12">
            <div class="stats-column">
              <h5>Requests per Second</h5>
              <h1 id="rpsStat">-</h1>
            </div>
          </div>
          <div class="col-xl-10 col-lg-10 col-md-9 col-sm-12">
            <div class="chart-container">
              <canvas id="rpsChart" width="100%" height="100"></canvas>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-1 col-lg-1 d-none d-lg-block"></div>
    </div>
  </div>
  <div class="col-12"><br><br></div>


  <!-- Status Codes -->
  <div class="col-12">
    <div class="row">
      <div class="col-xl-1 col-lg-1 d-none d-lg-block"></div>

      <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
        <div class="row">
          <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12">
            <div class="stats-column">
              <h5>Status Codes</h5>
              <div class="row">
                <div class="col-6">
                  <h6 class="status-code status-code-2xx">2xx</h6></div>
                <div class="col-6">
                  <h6 class="status-code status-code-3xx">3xx</h6></div>
                <div class="col-6">
                  <h6 class="status-code status-code-4xx">4xx</h6></div>
                <div class="col-6">
                  <h6 class="status-code status-code-5xx">5xx</h6></div>
              </div>
            </div>
          </div>
          <div class="col-xl-10 col-lg-10 col-md-9 col-sm-12">
            <div class="chart-container">
              <canvas id="statusCodesChart" width="100%" height="100"></canvas>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-1 col-lg-1 d-none d-lg-block"></div>
    </div>
  </div>


  <script>
    var port = {{ port }};
  </script>
  <script src="/js/status.js"></script>
